.admin {
    display: grid;
    justify-items: center;
    margin-bottom: 5%;
}

.createUser {
    display: grid;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
}

#adminButton {
    margin-top: 10px;
}
