body{
    /* background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    background-color:#4D5382;
    /* margin-bottom: 10rem; */
    
}

#carbs {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
}

.homePhoto {
    height: 50vh;
    width: 40vw;
}

.app {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0!important;
}

.toolbar {
    margin: 0!important;
}

a.nav_links{
    text-decoration: none!important;
    color:#514663!important;
}

.navText {
    color: #514663;
}

.button {
    background-color: white!important;
    color: #514663!important;

}

.button:hover{
    background-color: gray!important;
}

.login{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
 
}

.loginForm{
    border: 1px solid white;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    padding: 50px;
}

.password {
    margin-bottom: 10px;
}

.contact {
    display: grid;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  
   

}

.label {
    display: grid;
    width: 50vw;
    height: 10vh;
    margin: 10px;

}

#message {
    height: 20vh;
}

.formspree {
    text-align: center;
    font-size: 50px;
}

.formButton {
    height: 40px;
    border-radius: 5px;

}
.formButton:hover {
    background-color: gray;
}