body{
    /* background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    background-color: gray;
    margin-bottom: 10rem;
    
}

#carbs {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
}

