.Home {
    /* background-image: url("../assets/background.jpg");
    background-size: cover; */
    background-repeat: no-repeat;
    color: white;
    background-color:#4D5382;
    margin: 0;
    /* height: 120vh; */
   
    
}

.homeImg {
    position: absolute;
    max-width: 600px;
    
   
}
